* text=auto

*.bat text eol=crlf
*.ps1 text eol=crlf
*.sln text eol=crlf
*.cs text eol=lf
*.csproj text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.ico binary
*.db binary
*.bin binary
